:root {
    --bg_color: #FEFDF9;
    --scroller: #465FA9;
    --scroller_hover: #000B2C;
    --header_items: #000B2C;
    --header_logo: url('icons/logo-light.svg');
    --hero_bg: url('imgs/hero-bg-light.png');
    --login_icon: url('icons/login-light.svg');
    --language_icon: url('icons/language-switcher-light.svg');
    --theme_icon: url('icons/theme-switcher-light.svg');
    --sec_bg: url('imgs/bubbles-bg-light.png');
    --animal_bg: url('imgs/animal-bg-light.png');
    --shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    --footer_bg: url('imgs/footer-bg-light.svg');
    --insta_icon: url('icons/insta-light.svg');
    --fb_icon: url('icons/fb-light.svg');
    --twitter_icon: url('icons/twitter-light.svg');
    --yt_icon: url('icons/yt-light.svg');
    --scroll_up_icon: url('icons/arrow-icon-light.svg');
    --card_bg: #D0E4FF;
    --warning: #FF5449;
}

.dark-mode {
    --bg_color: #000B2C;
    --header_items: #FEFDF9;
    --header_logo: url('icons/logo-dark.svg');
    --hero_bg: url('imgs/hero-bg-dark.png');
    --login_icon: url('icons/login-dark.svg');
    --language_icon: url('icons/language-switcher-dark.svg');
    --theme_icon: url('icons/theme-switcher-dark.svg');
    --sec_bg: url('imgs/bubbles-bg-dark.png');
    --animal_bg: url('imgs/animal-bg-dark.png');
    --footer_bg: url('imgs/footer-bg-dark.svg');
    --insta_icon: url('icons/insta-dark.svg');
    --fb_icon: url('icons/fb-dark.svg');
    --twitter_icon: url('icons/twitter-dark.svg');
    --yt_icon: url('icons/yt-dark.svg');
    --scroll_up_icon: url('icons/arrow-icon-dark.svg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg_color);
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

/* text styles */

h1 {
    font-size: 96px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

/* text styles */


/* preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#preloader video {
  display: block;
  width: 100%;
}

.loader {
    position: relative;
    bottom: 150px;
    width: 120px;
    height: 22px;
    border-radius: 20px;
    color: var(--bg_color);
    border: 2px solid;
    position: absolute;
}

.loader::before {
    content: "";
    position: absolute;
    z-index: 2;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background-color: var(--bg_color);
    animation: loader 2s forwards;
}

@keyframes loader {
    100% {
        inset:0
    }
}

/* preloader */


/* scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg_color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroller);
    border-radius: 10px;
    transition: all 200ms;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroller_hover);
}

/* scrollbar */


/* scroll to top */

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 2;
    max-width: 64px;
    background-color: var(--header_items);
    border-radius: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: var(--shadow);
}

.scroll-up-icon {
    width: 24px;
    height: 24px;
    background-image: var(--scroll_up_icon);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* scroll to top */


/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 32px;
    z-index: 2;
}

header nav {
    display: flex;
    align-items: center;
    gap: 32px;
    background-color: var(--bg_color);
    padding: 10px 24px;
    border-radius: 100px;
    box-shadow: var(--shadow);
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
}

header a {
    text-decoration: none;
    color: var(--header_items);
    font-size: 16px;
    font-weight: 500;
    font-family: "Mona Sans", sans-serif;
}

.header-icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.login-icon {
    background-image: var(--login_icon);
}

.language-icon {
    background-image: var(--language_icon);
}

.theme-icon {
    background-image: var(--theme_icon);
}

.active {
    text-decoration: underline;
    font-weight: bold;
}

/* header */


/* hero section */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    justify-content: space-between;
    background-image: var(--hero_bg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--bg_color);
    font-family: "Darumadrop One";
}

.hero-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: var(--header_items);
    font-family: "Mona Sans";
}

.scroll-cont {
    position: absolute;
    bottom: 0;
    z-index: 1;
    right: 100px;
    display: flex;
    align-items: flex-start;
}

.scroll-cont p {
    font-family: "Darumadrop One";
    transform: rotate(90deg);
    color: var(--header_items);
    line-height: 70px;
    width: 100%;
    font-weight: 400;
    display: flex;
    align-self: start;
    letter-spacing: 8px;
}

.scroll-indicator {
    width: 2px;
    height: 170px;
    border-radius: 2px;
}

.scroll-indicator span {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--header_items);
    transform-origin: top;
    animation: scroll 1.6s ease-in-out infinite;
}

@keyframes scroll {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

/* hero section */

/* crisis section */

#crisis {
    background-image: var(--sec_bg);
    background-position: center;
    background-size: cover;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

#crisis h2 {
    font-family: "Darumadrop One";
    color: var(--header_items);
}

#crisisText1 {
    font-family: "Mona Sans";
    font-weight: 400;
}

#crisisReadMore {
    font-family: "Mona Sans";
    font-weight: 800;
    text-decoration: underline;
    cursor: pointer;
}

/* crisis section */


/* random element section */

.sec {
    background-image: var(--sec_bg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 100px;
}

.random-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.random-sec h2, h3 {
    font-family: "Darumadrop One";
    color: var(--header_items);
}

.random-sec h6 {
    font-family: "Mona Sans";
    color: var(--header_items);
    max-width: 400px;
}

.random-cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.random-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
}

.random-animal {
    background-image: var(--animal_bg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 670px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.random-animal img {
    max-width: 600px;
    min-width: 390px;
}

.random-animal-name {
    display: flex;
    gap: 20px;
    align-items: center;
}

#randomBtn {
    padding: 10px 20px;
    background-color: var(--header_items);
    color: var(--bg_color);
    font-family: "Mona Sans";
    font-weight: 600;
    font-size: 20px;
    border-radius: 100px;
    box-shadow: var(--shadow);
    transition: all 200ms;
}

/* random element section */


/* did you know? section */

#facts {
    background-image: var(--sec_bg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: start;
    padding: 100px;
}

#facts h2 {
    font-family: "Darumadrop One";
    color: var(--header_items);
}

#facts span {
    font-family: "Darumadrop One";
    font-size: 200px;
    font-weight: 400;
    line-height: normal;
    text-shadow: 6px 0 10px rgba(0, 0, 0, 0.25);
}

#facts h6 {
    font-family: "Mona Sans";
    font-weight: 400;
    max-width: 335px;
}

#factsCont {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

#factsRow1 {
    display: flex;
    gap: 12px;
}

#factsRow2 {
    display: flex;
    gap: 12px;
}

.fact {
    border-radius: 12px;
    background-color: var(--card_bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    color: var(--header_items);
    padding: 32px;
    width: 100%;
    height: fit-content;
}

/* did you know? section */


/* connect section */

#connect {
    background-image: var(--sec_bg);
    background-position: center;
    background-size: cover;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

#connect h4 {
    font-family: "Darumadrop One";
    color: var(--header_items);
}

#connect h6 {
    font-family: "Mona Sans";
    font-weight: 400;
    max-width: 401px;
}

.connect-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.connect-form {
    background-color: var(--header_items);
    padding: 32px;
    color: var(--bg_color);
    width: 100%;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

/* connect section */


/* footer */

footer {
    background-image: var(--footer_bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 32px;
    padding: 32px 100px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-socials {
    display: flex;
    gap: 12px;
    align-items: center;
}

.footer-social {
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.insta {
    background-image: var(--insta_icon);
}

.fb {
    background-image: var(--fb_icon);
}

.twitter {
    background-image: var(--twitter_icon);
}

.yt {
    background-image: var(--yt_icon);
}

#footerSlogan {
    font-family: "Darumadrop One";
    color: var(--bg_color);
    text-transform: uppercase;
}

#copyrights {
    font-family: "Mona Sans";
    color: var(--bg_color);
}

/* footer */


/* login page */

.login {
    background-color: var(--bg_color);
    background-image: var(--hero_bg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login h4 {
    font-family: "Darumadrop One";
}

.login-card {
    background-color: var(--header_items);
    padding: 30px 36px;
    height: auto;
    width: 473px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    color: var(--bg_color);
}

.logo {
    background-image: var(--header_logo);
    width: 78px;
    height: 90px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.login-card1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    width: 100%;
}

.login-input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.login-input-title {
    font-size: 14px;
    font-family: "Mona Sans";
    width: 100%;
    display: flex;
}

.login-input-box {
    height: 60px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--bg_color);
}

.login-button {
    margin-top: 24px;
    padding: 14px 0;
    border-radius: 10px;
    width: 70%;
    border: none;
    width: 100%;
    background-color: var(--bg_color);
}

#google {
    font-family: "Mona Sans";
    font-size: 16px;
    font-weight: 500;
}

#login {
    font-family: "Mona Sans";
    font-size: 20px;
    color: var(--header_items);
    font-weight: 700;
}

#errorMsg {
    display: none;
    font-family: "Mona Sans";
    font-size: 14px;
    font-weight: 500;
    color: var(--warning);
}

/* login page */



