:root {
    --bg_color: #FEFDF9;
    --scroller: #465FA9;
    --scroller_hover: #000B2C;
    --header_items: #000B2C;
    --header_logo: url('icons/logo-dark.svg');
    --hero_bg: url('imgs/hero-bg-light.png');
    --login_icon: url('icons/login-light.svg');
    --language_icon: url('icons/language-switcher-light.svg');
    --theme_icon: url('icons/theme-switcher-light.svg');
}

.dark-mode {
    --bg_color: #000B2C;
    --header_items: #FEFDF9;
    --header_logo: url('icons/logo-light.svg');
    --hero_bg: url('imgs/hero-bg-dark.png');
    --login_icon: url('icons/login-dark.svg');
    --language_icon: url('icons/language-switcher-dark.svg');
    --theme_icon: url('icons/theme-switcher-dark.svg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 3000px;
    background-color: var(--bg_color);
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

/* text styles */

p {
    font-size: 16px;
}

/* text styles */


/* preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#preloader video {
  display: block;
  width: 100%;
}

.loader {
    width: 120px;
    height: 22px;
    border-radius: 20px;
    color: var(--bg_color);
    border: 2px solid;
    position: absolute;
}

.loader::before {
    content: "";
    position: absolute;
    z-index: 2;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background-color: var(--bg_color);
    animation: loader 2s forwards;
}

@keyframes loader {
    100% {
        inset:0
    }
}

/* preloader */


/* scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg_color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroller);
    border-radius: 10px;
    transition: all 200ms;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroller_hover);
}

/* scrollbar */

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 32px;
    z-index: 1;
}

header nav {
    display: flex;
    align-items: center;
    gap: 32px;
    background-color: var(--bg_color);
    padding: 10px 24px;
    border-radius: 100px;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
}

header a {
    text-decoration: none;
    color: var(--header_items);
    font-size: 16px;
    font-weight: 500;
    font-family: "Mona Sans", sans-serif;
}

.header-icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.login-icon {
    background-image: var(--login_icon);
}

.language-icon {
    background-image: var(--language_icon);
}

.theme-icon {
    background-image: var(--theme_icon);
}

/* header */


/* hero section */

.hero {
    background-image: var(--hero_bg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.scroll-cont {
    position: absolute;
    bottom: 0;
    z-index: 1;
    right: 100px;
    display: flex;
    align-items: flex-start;
}

.scroll-cont p {
    font-family: "Darumadrop One";
    transform: rotate(90deg);
    color: var(--header_items);
    line-height: 70px;
    width: 100%;
    font-weight: 400;
    display: flex;
    align-self: start;
    letter-spacing: 8px;
}

.scroll-indicator {
    width: 2px;
    height: 170px;
    border-radius: 2px;
}

.scroll-indicator span {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--header_items);
    transform-origin: top;
    animation: scroll 1.6s ease-in-out infinite;
}

@keyframes scroll {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

/* hero section */
