:root {
    --light_bg: #FEFDF9;
    --light_scroller: #465FA9;
    --light_scroller_hover: #000B2C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 3000px;
}

/* preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#preloader video {
  display: block;
  width: 100%;
}

.loader {
    width: 120px;
    height: 22px;
    border-radius: 20px;
    color: var(--light_bg);
    border: 2px solid;
    position: absolute;
}

.loader::before {
    content: "";
    position: absolute;
    z-index: 2;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background-color: var(--light_bg);
    animation: loader 2s forwards;
}

@keyframes loader {
    100% {
        inset:0
    }
}

/* preloader */


/* scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--light_bg);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--light_scroller);
    border-radius: 10px;
    transition: all 200ms;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--light_scroller_hover);
}

/* scrollbar */